body {
    transform-style: preserve-3d;
    perspective: 1000px;
    background-color: tomato;
    overflow: hidden;
  }

  .site-header{
      background-color: rgb(65, 64, 68);
  }

  .container {
    transition: 0.2s;
    transform-origin: left center;
  }
  .sidebar {
    position: fixed;
    right: 0px;
    top: 0px; 
    width: 500px;
    height: 170%;
    background-color: #333;
    color: #fff;
    transition: 0.2s;
    transform: rotateY(50deg);
    transform-origin: right center;
    opacity: 0;
  /*   opacity: 0; */
  }
  .close-btn {
    position: fixed;  
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 20px;
  }
  .close-btn:hover {
    color: #fff;
    text-decoration: none;
  }
  .sidebar:target {
    transform: rotateY(0deg);
    opacity: 1;
  }
  .sidebar:target ~ .container {
     transform: rotateY(25deg) translateX(-150px);
  }

  a{
      color: #fff;
  }

  .form{
      background-color: rgb(72, 71, 77);
      border-radius: 4px;
      border: none;
      padding: 4px;
  }

  .result{
    font-weight: 700;
    color: rgb(238, 82, 82);
  }

  .card-body{
    position: relative;
  }
   .btn{
     position: absolute;
     bottom: 0;
     left: 0;
   }

   .card-body ul{
     padding-bottom: 10px;
   }

   .button{
    background-color: rgb(139, 212, 121);
    border-radius: 4px;
    border: none;
    width: 100px;
    height: 30px;
   }