<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--! Перезагрузка страницы 
    <!--! <meta http-equiv="Refresh" content="5" /> -->

    <title>Calculator</title>
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <!--*----------------------------
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 d-none d-md-inline-block" href="#">Tour</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
        </div>
    </nav>
    ----------------------------------------------->
    <!--!--Боковое меню с ПЕРЕСТАНОВКАМИ---------->
    <div class="sidebar p-4" id="placementNo">
        <a href="#close" class="close-btn">&times;</a>
        <h4>Перестановки</h4>
        <p>
            Пусть имеется n различных объектов.
            Будем переставлять их всеми возможными способами (число и состав объектов остается неизменными, меняется
            только их порядок).
            <br><br>
            Получившиеся комбинации называются перестановками, а их число расчитывается по формуле:
            <!--!--Огромный span с формулой-->
            <div>
                <nobr aria-hidden="true"><span class="math" id="MathJax-Span-4"
                        style="width: 17.331em; display: inline-block;"><span
                            style="display: inline-block; position: relative; width: 13.76em; height: 0px; font-size: 126%;"><span
                                style="position: absolute; clip: rect(1.326em, 1013.76em, 2.715em, -999.997em); top: -2.245em; left: 0em;"><span
                                    class="mrow" id="MathJax-Span-5"><span class="msubsup" id="MathJax-Span-6"><span
                                            style="display: inline-block; position: relative; width: 1.128em; height: 0px;"><span
                                                style="position: absolute; clip: rect(3.112em, 1000.73em, 4.17em, -999.997em); top: -3.965em; left: 0em;"><span
                                                    class="mi" id="MathJax-Span-7"
                                                    style="font-family: MathJax_Math-italic;">P<span
                                                        style="display: inline-block; overflow: hidden; height: 1px; width: 0.136em;"></span></span><span
                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                style="position: absolute; top: -3.833em; left: 0.665em;"><span
                                                    class="mi" id="MathJax-Span-8"
                                                    style="font-size: 70.7%; font-family: MathJax_Math-italic;">n</span><span
                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span></span></span><span
                                        class="mo" id="MathJax-Span-9"
                                        style="font-family: MathJax_Main; padding-left: 0.268em;">=</span><span
                                        class="mi" id="MathJax-Span-10"
                                        style="font-family: MathJax_Math-italic; padding-left: 0.268em;">n</span><span
                                        class="mo" id="MathJax-Span-11" style="font-family: MathJax_Main;">!</span><span
                                        class="mo" id="MathJax-Span-12"
                                        style="font-family: MathJax_Main; padding-left: 0.268em;">=</span><span
                                        class="mn" id="MathJax-Span-13"
                                        style="font-family: MathJax_Main; padding-left: 0.268em;">1</span><span
                                        class="mo" id="MathJax-Span-14"
                                        style="font-family: MathJax_Main; padding-left: 0.202em;">⋅</span><span
                                        class="mn" id="MathJax-Span-15"
                                        style="font-family: MathJax_Main; padding-left: 0.202em;">2</span><span
                                        class="mo" id="MathJax-Span-16"
                                        style="font-family: MathJax_Main; padding-left: 0.202em;">⋅</span><span
                                        class="mn" id="MathJax-Span-17"
                                        style="font-family: MathJax_Main; padding-left: 0.202em;">3</span><span
                                        class="mo" id="MathJax-Span-18" style="font-family: MathJax_Main;">⋅</span><span
                                        class="mo" id="MathJax-Span-19" style="font-family: MathJax_Main;">.</span><span
                                        class="mo" id="MathJax-Span-20"
                                        style="font-family: MathJax_Main; padding-left: 0.202em;">.</span><span
                                        class="mo" id="MathJax-Span-21"
                                        style="font-family: MathJax_Main; padding-left: 0.202em;">.</span><span
                                        class="mo" id="MathJax-Span-22"
                                        style="font-family: MathJax_Main; padding-left: 0.202em;">⋅</span><span
                                        class="mo" id="MathJax-Span-23" style="font-family: MathJax_Main;">(</span><span
                                        class="mi" id="MathJax-Span-24"
                                        style="font-family: MathJax_Math-italic;">n</span><span class="mo"
                                        id="MathJax-Span-25"
                                        style="font-family: MathJax_Main; padding-left: 0.202em;">−</span><span
                                        class="mn" id="MathJax-Span-26"
                                        style="font-family: MathJax_Main; padding-left: 0.202em;">1</span><span
                                        class="mo" id="MathJax-Span-27" style="font-family: MathJax_Main;">)</span><span
                                        class="mo" id="MathJax-Span-28"
                                        style="font-family: MathJax_Main; padding-left: 0.202em;">⋅</span><span
                                        class="mi" id="MathJax-Span-29"
                                        style="font-family: MathJax_Math-italic; padding-left: 0.202em;">n</span></span><span
                                    style="display: inline-block; width: 0px; height: 2.252em;"></span></span></span><span
                            style="display: inline-block; overflow: hidden; vertical-align: -0.413em; border-left: 0px solid; width: 0px; height: 1.421em; --darkreader-inline-border-left: initial;"
                            data-darkreader-inline-border-left=""></span></span></nobr>
            </div>
        </p>

        <input class="form" type="text" v-model="incomingData">
        <button class="button" @click="Calculator">Вычислить</button>
        <p class="mt-2">Результат: <span class="result">{{ result }}</span></p>
    </div>

    <div class="sidebar p-4" id="combinationNo">
        <a href="#close" class="close-btn">&times;</a>
        <h4>Сочетания</h4>
        <p>
            Пусть имеется n различных объектов. Чтобы найти число сочетаний из n объектов по k, будем выбирать
            комбинации из m объектов все возможными способами, при этом будем обращать внимание на разный состав
            комбинаций, но не порядок (он тут не важен, в отличие от размещений).
            <br><br>
            Например, есть три объекта {1,2,3}, составляем сочетания по 2 объекта в каждом. Тогда выборки {1,2} и {2,1}
            - это одно и то же сочетание (так как комбинации отличаются лишь порядком). А всего различных сочетаний из 3
            объектов по 2 будет три: {1,2}, {1,3}, {2,3}.
            <br><br>
            Общая формула, которая позволяет найти число сочетаний из n объектов по k имеет вид:
            <!--!--Огромный span с формулой-->
            <div class="MathJax_Display" style="text-align: center;">
                <nobr aria-hidden="true"><span class="math" id="MathJax-Span-19"
                        style="width: 10.188em; display: inline-block;"><span
                            style="display: inline-block; position: relative; width: 8.072em; height: 0px; font-size: 126%;"><span
                                style="position: absolute; clip: rect(0.665em, 1008.01em, 3.442em, -999.997em); top: -2.245em; left: 0em;"><span
                                    class="mrow" id="MathJax-Span-20"><span class="msubsup" id="MathJax-Span-21"><span
                                            style="display: inline-block; position: relative; width: 1.26em; height: 0px;"><span
                                                style="position: absolute; clip: rect(3.046em, 1000.73em, 4.17em, -999.997em); top: -3.965em; left: 0em;"><span
                                                    class="mi" id="MathJax-Span-22"
                                                    style="font-family: MathJax_Math-italic;">C<span
                                                        style="display: inline-block; overflow: hidden; height: 1px; width: 0.069em;"></span></span><span
                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                style="position: absolute; clip: rect(3.31em, 1000.47em, 4.17em, -999.997em); top: -4.296em; left: 0.797em;"><span
                                                    class="mi" id="MathJax-Span-23"
                                                    style="font-size: 70.7%; font-family: MathJax_Math-italic;">k</span><span
                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                style="position: absolute; clip: rect(3.442em, 1000.53em, 4.17em, -999.997em); top: -3.833em; left: 0.731em;"><span
                                                    class="mi" id="MathJax-Span-24"
                                                    style="font-size: 70.7%; font-family: MathJax_Math-italic;">n</span><span
                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span></span></span><span
                                        class="mo" id="MathJax-Span-25"
                                        style="font-family: MathJax_Main; padding-left: 0.268em;">=</span><span
                                        class="mfrac" id="MathJax-Span-26" style="padding-left: 0.268em;"><span
                                            style="display: inline-block; position: relative; width: 4.964em; height: 0px; margin-right: 0.136em; margin-left: 0.136em;"><span
                                                style="position: absolute; clip: rect(3.046em, 1000.8em, 4.17em, -999.997em); top: -4.626em; left: 50%; margin-left: -0.46em;"><span
                                                    class="mrow" id="MathJax-Span-27"><span class="mi"
                                                        id="MathJax-Span-28"
                                                        style="font-family: MathJax_Math-italic;">n</span><span
                                                        class="mo" id="MathJax-Span-29"
                                                        style="font-family: MathJax_Main;">!</span></span><span
                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                style="position: absolute; clip: rect(3.046em, 1004.76em, 4.435em, -999.997em); top: -3.237em; left: 50%; margin-left: -2.444em;"><span
                                                    class="mrow" id="MathJax-Span-30"><span class="mo"
                                                        id="MathJax-Span-31"
                                                        style="font-family: MathJax_Main;">(</span><span class="mi"
                                                        id="MathJax-Span-32"
                                                        style="font-family: MathJax_Math-italic;">n</span><span
                                                        class="mo" id="MathJax-Span-33"
                                                        style="font-family: MathJax_Main; padding-left: 0.202em;">−</span><span
                                                        class="mi" id="MathJax-Span-34"
                                                        style="font-family: MathJax_Math-italic; padding-left: 0.202em;">k</span><span
                                                        class="mo" id="MathJax-Span-35"
                                                        style="font-family: MathJax_Main;">)</span><span class="mo"
                                                        id="MathJax-Span-36"
                                                        style="font-family: MathJax_Main;">!</span><span class="mo"
                                                        id="MathJax-Span-37"
                                                        style="font-family: MathJax_Main; padding-left: 0.202em;">⋅</span><span
                                                        class="mi" id="MathJax-Span-38"
                                                        style="font-family: MathJax_Math-italic; padding-left: 0.202em;">k</span><span
                                                        class="mo" id="MathJax-Span-39"
                                                        style="font-family: MathJax_Main;">!</span></span><span
                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                style="position: absolute; clip: rect(0.797em, 1004.96em, 1.26em, -999.997em); top: -1.253em; left: 0em;"><span
                                                    style="display: inline-block; overflow: hidden; vertical-align: 0em; border-top: 1.3px solid; width: 4.964em; height: 0px; --darkreader-inline-border-top: initial;"
                                                    data-darkreader-inline-border-top=""></span><span
                                                    style="display: inline-block; width: 0px; height: 1.062em;"></span></span></span></span></span><span
                                    style="display: inline-block; width: 0px; height: 2.252em;"></span></span></span><span
                            style="display: inline-block; overflow: hidden; vertical-align: -1.329em; border-left: 0px solid; width: 0px; height: 3.171em; --darkreader-inline-border-left: initial;"
                            data-darkreader-inline-border-left=""></span></span></nobr><span
                    class="MJX_Assistive_MathML MJX_Assistive_MathML_Block" role="presentation"><math
                        xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                    </math></span>
            </div>
        </p>

        <input class="form" type="text" v-model="incomingData_N" placeholder="Введите n">
        <input class="form" type="text" v-model="incomingData_K" placeholder="Введите k">
        <button class="button mt-2" @click="Calculator">Вычислить</button>
        <p class="mt-2">Результат: <span class="result">{{ result }}</span></p>
    </div>

    <div class="sidebar p-4" id="permutationsNo">
        <a href="#close" class="close-btn">&times;</a>
        <h4>Размещения</h4>
        <p>
            Пусть имеется n различных объектов. Будем выбирать из них k объектов и переставлять всеми возможными
            способами между собой (то есть меняется и состав выбранных объектов, и их порядок).
            <br><br>
            Получившиеся комбинации называются размещениями из n объектов по k, а их число расчитывается по формуле:

            <!--!--Огромный span с формулой-->
            <div class="MathJax_Display" style="text-align: center;">
                <nobr aria-hidden="true"><span class="math" id="MathJax-Span-13"
                        style="width: 23.614em; display: inline-block;"><span
                            style="display: inline-block; position: relative; width: 18.72em; height: 0px; font-size: 126%;"><span
                                style="position: absolute; clip: rect(0.665em, 1018.65em, 3.442em, -999.997em); top: -2.245em; left: 0em;"><span
                                    class="mrow" id="MathJax-Span-14"><span class="msubsup" id="MathJax-Span-15"><span
                                            style="display: inline-block; position: relative; width: 1.26em; height: 0px;"><span
                                                style="position: absolute; clip: rect(3.046em, 1000.73em, 4.17em, -999.997em); top: -3.965em; left: 0em;"><span
                                                    class="mi" id="MathJax-Span-16"
                                                    style="font-family: MathJax_Math-italic;">A</span><span
                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                style="position: absolute; clip: rect(3.31em, 1000.47em, 4.17em, -999.997em); top: -4.296em; left: 0.731em;"><span
                                                    class="mi" id="MathJax-Span-17"
                                                    style="font-size: 70.7%; font-family: MathJax_Math-italic;">k</span><span
                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                style="position: absolute; clip: rect(3.442em, 1000.53em, 4.17em, -999.997em); top: -3.833em; left: 0.731em;"><span
                                                    class="mi" id="MathJax-Span-18"
                                                    style="font-size: 70.7%; font-family: MathJax_Math-italic;">n</span><span
                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span></span></span><span
                                        class="mfrac" id="MathJax-Span-20" style="padding-left: 0.268em;">
                                        <span
                                            style="display: inline-block; position: relative; width: 3.509em; height: 0px; margin-right: 0.136em; margin-left: 0.136em;"><span
                                                style="position: absolute; clip: rect(3.046em, 1000.8em, 4.17em, -999.997em); top: -4.626em; left: 50%; margin-left: -0.46em;"><span
                                                    class="mrow" id="MathJax-Span-21">
                                                    <span class="mi" id="MathJax-Span-22"
                                                        style="font-family: MathJax_Math-italic;">n</span>
                                                    <span class="mo" id="MathJax-Span-23"
                                                        style="font-family: MathJax_Main;">!</span></span><span
                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                style="position: absolute; clip: rect(3.046em, 1003.31em, 4.435em, -999.997em); top: -3.237em; left: 50%; margin-left: -1.65em;"><span
                                                    class="mrow" id="MathJax-Span-24"><span class="mo"
                                                        id="MathJax-Span-25"
                                                        style="font-family: MathJax_Main;">(</span><span class="mi"
                                                        id="MathJax-Span-26"
                                                        style="font-family: MathJax_Math-italic;">n</span><span
                                                        class="mo" id="MathJax-Span-27"
                                                        style="font-family: MathJax_Main; padding-left: 0.202em;">−</span><span
                                                        class="mi" id="MathJax-Span-28"
                                                        style="font-family: MathJax_Math-italic; padding-left: 0.202em;">k</span><span
                                                        class="mo" id="MathJax-Span-29"
                                                        style="font-family: MathJax_Main;">)</span><span class="mo"
                                                        id="MathJax-Span-30"
                                                        style="font-family: MathJax_Main;">!</span></span><span
                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                style="position: absolute; clip: rect(0.797em, 1003.51em, 1.26em, -999.997em); top: -1.253em; left: 0em;"><span
                                                    style="display: inline-block; overflow: hidden; vertical-align: 0em; border-top: 1.3px solid; width: 3.509em; height: 0px; --darkreader-inline-border-top: initial;"
                                                    data-darkreader-inline-border-top=""></span><span
                                                    style="display: inline-block; width: 0px; height: 1.062em;"></span></span></span></span>
                                </span><span
                                    style="display: inline-block; width: 0px; height: 2.252em;"></span></span></span><span
                            style="display: inline-block; overflow: hidden; vertical-align: -1.329em; border-left: 0px solid; width: 0px; height: 3.171em; --darkreader-inline-border-left: initial;"
                            data-darkreader-inline-border-left=""></span></span></nobr><span
                    class="MJX_Assistive_MathML MJX_Assistive_MathML_Block" role="presentation"><math
                        xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                    </math></span>
            </div>
        </p>

        <input class="form" type="text" v-model="incomingData_N" placeholder="Введите n">
        <input class="form" type="text" v-model="incomingData_K" placeholder="Введите k">
        <button class="button mt-2" @click="Calculator">Вычислить</button>
        <p class="mt-2">Результат: <span class="result">{{ result }}</span></p>
    </div>

    <div class="sidebar p-4" id="placement">
        <a href="#close" class="close-btn">&times;</a>
        <h4>Перестановки с повторениями</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nobis pariatur ut fugit, quia,
            aliquam
            quae minima veritatis illum, porro nihil distinctio alias laudantium. Minus exercitationem aperiam
            corrupti
            doloribus fugit!</p>
    </div>

    <div class="sidebar p-4" id="combination">
        <a href="#close" class="close-btn">&times;</a>
        <h4>Сочетания с повторениями</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nobis pariatur ut fugit, quia,
            aliquam
            quae minima veritatis illum, porro nihil distinctio alias laudantium. Minus exercitationem aperiam
            corrupti
            doloribus fugit!</p>
    </div>

    <div class="sidebar p-4" id="permutations">
        <a href="#close" class="close-btn">&times;</a>
        <h4>Размещения с повторениями</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nobis pariatur ut fugit, quia,
            aliquam
            quae minima veritatis illum, porro nihil distinctio alias laudantium. Minus exercitationem aperiam
            corrupti
            doloribus fugit!</p>
    </div>

    <div class="container pt-4">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Перестановки</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Определение факториала</li>
                        <li>и количества перестановок</li>
                        <li>по формуле</li>
                        <li>
                            <!--!--Огромный span с формулой-->
                            <nobr aria-hidden="true"><span class="math" id="MathJax-Span-4"
                                    style="width: 17.331em; display: inline-block;"><span
                                        style="display: inline-block; position: relative; width: 13.76em; height: 0px; font-size: 126%;"><span
                                            style="position: absolute; clip: rect(1.326em, 1013.76em, 2.715em, -999.997em); top: -2.245em; left: 0em;"><span
                                                class="mrow" id="MathJax-Span-5"><span class="msubsup"
                                                    id="MathJax-Span-6"><span
                                                        style="display: inline-block; position: relative; width: 1.128em; height: 0px;"><span
                                                            style="position: absolute; clip: rect(3.112em, 1000.73em, 4.17em, -999.997em); top: -3.965em; left: 0em;"><span
                                                                class="mi" id="MathJax-Span-7"
                                                                style="font-family: MathJax_Math-italic;">P<span
                                                                    style="display: inline-block; overflow: hidden; height: 1px; width: 0.136em;"></span></span><span
                                                                style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                            style="position: absolute; top: -3.833em; left: 0.665em;"><span
                                                                class="mi" id="MathJax-Span-8"
                                                                style="font-size: 70.7%; font-family: MathJax_Math-italic;">n</span><span
                                                                style="display: inline-block; width: 0px; height: 3.972em;"></span></span></span></span><span
                                                    class="mo" id="MathJax-Span-9"
                                                    style="font-family: MathJax_Main; padding-left: 0.268em;">=</span><span
                                                    class="mi" id="MathJax-Span-10"
                                                    style="font-family: MathJax_Math-italic; padding-left: 0.268em;">n</span><span
                                                    class="mo" id="MathJax-Span-11"
                                                    style="font-family: MathJax_Main;">!</span><span class="mo"
                                                    id="MathJax-Span-12"
                                                    style="font-family: MathJax_Main; padding-left: 0.268em;">=</span><span
                                                    class="mn" id="MathJax-Span-13"
                                                    style="font-family: MathJax_Main; padding-left: 0.268em;">1</span><span
                                                    class="mo" id="MathJax-Span-14"
                                                    style="font-family: MathJax_Main; padding-left: 0.202em;">⋅</span><span
                                                    class="mn" id="MathJax-Span-15"
                                                    style="font-family: MathJax_Main; padding-left: 0.202em;">2</span><span
                                                    class="mo" id="MathJax-Span-16"
                                                    style="font-family: MathJax_Main; padding-left: 0.202em;">⋅</span><span
                                                    class="mn" id="MathJax-Span-17"
                                                    style="font-family: MathJax_Main; padding-left: 0.202em;">3</span><span
                                                    class="mo" id="MathJax-Span-18"
                                                    style="font-family: MathJax_Main;">⋅</span><span class="mo"
                                                    id="MathJax-Span-19"
                                                    style="font-family: MathJax_Main;">.</span><span class="mo"
                                                    id="MathJax-Span-20"
                                                    style="font-family: MathJax_Main; padding-left: 0.202em;">.</span><span
                                                    class="mo" id="MathJax-Span-21"
                                                    style="font-family: MathJax_Main; padding-left: 0.202em;">.</span><span
                                                    class="mo" id="MathJax-Span-22"
                                                    style="font-family: MathJax_Main; padding-left: 0.202em;">⋅</span><span
                                                    class="mo" id="MathJax-Span-23"
                                                    style="font-family: MathJax_Main;">(</span><span class="mi"
                                                    id="MathJax-Span-24"
                                                    style="font-family: MathJax_Math-italic;">n</span><span class="mo"
                                                    id="MathJax-Span-25"
                                                    style="font-family: MathJax_Main; padding-left: 0.202em;">−</span><span
                                                    class="mn" id="MathJax-Span-26"
                                                    style="font-family: MathJax_Main; padding-left: 0.202em;">1</span><span
                                                    class="mo" id="MathJax-Span-27"
                                                    style="font-family: MathJax_Main;">)</span><span class="mo"
                                                    id="MathJax-Span-28"
                                                    style="font-family: MathJax_Main; padding-left: 0.202em;">⋅</span><span
                                                    class="mi" id="MathJax-Span-29"
                                                    style="font-family: MathJax_Math-italic; padding-left: 0.202em;">n</span></span><span
                                                style="display: inline-block; width: 0px; height: 2.252em;"></span></span></span><span
                                        style="display: inline-block; overflow: hidden; vertical-align: -0.413em; border-left: 0px solid; width: 0px; height: 1.421em; --darkreader-inline-border-left: initial;"
                                        data-darkreader-inline-border-left=""></span></span></nobr>
                        </li>

                    </ul>
                    <a href="#placementNo" class="btn btn-lg btn-block btn-primary">Вычислить</a>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Совмещения</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Определение количества</li>
                        <li>сочетаний по формуле</li>
                        <li>
                            <!--!--Огромный span с формулой-->
                            <div class="MathJax_Display" style="text-align: center;">
                                <nobr aria-hidden="true"><span class="math" id="MathJax-Span-19"
                                        style="width: 10.188em; display: inline-block;"><span
                                            style="display: inline-block; position: relative; width: 8.072em; height: 0px; font-size: 126%;"><span
                                                style="position: absolute; clip: rect(0.665em, 1008.01em, 3.442em, -999.997em); top: -2.245em; left: 0em;"><span
                                                    class="mrow" id="MathJax-Span-20"><span class="msubsup"
                                                        id="MathJax-Span-21"><span
                                                            style="display: inline-block; position: relative; width: 1.26em; height: 0px;"><span
                                                                style="position: absolute; clip: rect(3.046em, 1000.73em, 4.17em, -999.997em); top: -3.965em; left: 0em;"><span
                                                                    class="mi" id="MathJax-Span-22"
                                                                    style="font-family: MathJax_Math-italic;">C<span
                                                                        style="display: inline-block; overflow: hidden; height: 1px; width: 0.069em;"></span></span><span
                                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                                style="position: absolute; clip: rect(3.31em, 1000.47em, 4.17em, -999.997em); top: -4.296em; left: 0.797em;"><span
                                                                    class="mi" id="MathJax-Span-23"
                                                                    style="font-size: 70.7%; font-family: MathJax_Math-italic;">k</span><span
                                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                                style="position: absolute; clip: rect(3.442em, 1000.53em, 4.17em, -999.997em); top: -3.833em; left: 0.731em;"><span
                                                                    class="mi" id="MathJax-Span-24"
                                                                    style="font-size: 70.7%; font-family: MathJax_Math-italic;">n</span><span
                                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span></span></span><span
                                                        class="mo" id="MathJax-Span-25"
                                                        style="font-family: MathJax_Main; padding-left: 0.268em;">=</span><span
                                                        class="mfrac" id="MathJax-Span-26"
                                                        style="padding-left: 0.268em;"><span
                                                            style="display: inline-block; position: relative; width: 4.964em; height: 0px; margin-right: 0.136em; margin-left: 0.136em;"><span
                                                                style="position: absolute; clip: rect(3.046em, 1000.8em, 4.17em, -999.997em); top: -4.626em; left: 50%; margin-left: -0.46em;"><span
                                                                    class="mrow" id="MathJax-Span-27"><span class="mi"
                                                                        id="MathJax-Span-28"
                                                                        style="font-family: MathJax_Math-italic;">n</span><span
                                                                        class="mo" id="MathJax-Span-29"
                                                                        style="font-family: MathJax_Main;">!</span></span><span
                                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                                style="position: absolute; clip: rect(3.046em, 1004.76em, 4.435em, -999.997em); top: -3.237em; left: 50%; margin-left: -2.444em;"><span
                                                                    class="mrow" id="MathJax-Span-30"><span class="mo"
                                                                        id="MathJax-Span-31"
                                                                        style="font-family: MathJax_Main;">(</span><span
                                                                        class="mi" id="MathJax-Span-32"
                                                                        style="font-family: MathJax_Math-italic;">n</span><span
                                                                        class="mo" id="MathJax-Span-33"
                                                                        style="font-family: MathJax_Main; padding-left: 0.202em;">−</span><span
                                                                        class="mi" id="MathJax-Span-34"
                                                                        style="font-family: MathJax_Math-italic; padding-left: 0.202em;">k</span><span
                                                                        class="mo" id="MathJax-Span-35"
                                                                        style="font-family: MathJax_Main;">)</span><span
                                                                        class="mo" id="MathJax-Span-36"
                                                                        style="font-family: MathJax_Main;">!</span><span
                                                                        class="mo" id="MathJax-Span-37"
                                                                        style="font-family: MathJax_Main; padding-left: 0.202em;">⋅</span><span
                                                                        class="mi" id="MathJax-Span-38"
                                                                        style="font-family: MathJax_Math-italic; padding-left: 0.202em;">k</span><span
                                                                        class="mo" id="MathJax-Span-39"
                                                                        style="font-family: MathJax_Main;">!</span></span><span
                                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                                style="position: absolute; clip: rect(0.797em, 1004.96em, 1.26em, -999.997em); top: -1.253em; left: 0em;"><span
                                                                    style="display: inline-block; overflow: hidden; vertical-align: 0em; border-top: 1.3px solid; width: 4.964em; height: 0px; --darkreader-inline-border-top: initial;"
                                                                    data-darkreader-inline-border-top=""></span><span
                                                                    style="display: inline-block; width: 0px; height: 1.062em;"></span></span></span></span></span><span
                                                    style="display: inline-block; width: 0px; height: 2.252em;"></span></span></span><span
                                            style="display: inline-block; overflow: hidden; vertical-align: -1.329em; border-left: 0px solid; width: 0px; height: 3.171em; --darkreader-inline-border-left: initial;"
                                            data-darkreader-inline-border-left=""></span></span></nobr><span
                                    class="MJX_Assistive_MathML MJX_Assistive_MathML_Block" role="presentation"><math
                                        xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                                    </math></span>
                            </div>
                        </li>
                    </ul>
                    <a href="#combinationNo" class="btn btn-lg btn-block btn-primary">Вычислить</a>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Размещения</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Определение количества</li>
                        <li>размещений  по формуле</li>
                        <li>
                            <!--!--Огромный span с формулой-->
                            <div class="MathJax_Display" style="text-align: center;">
                                <nobr aria-hidden="true"><span class="math" id="MathJax-Span-13"
                                        style="width: 100px; display: inline-block;"><span
                                            style="display: inline-block; position: relative; width: 18.72em; height: 0px; font-size: 126%;"><span
                                                style="position: absolute; clip: rect(0.665em, 1018.65em, 3.442em, -999.997em); top: -2.245em; left: 0em;"><span
                                                    class="mrow" id="MathJax-Span-14"><span class="msubsup"
                                                        id="MathJax-Span-15"><span
                                                            style="display: inline-block; position: relative; width: 1.26em; height: 0px;"><span
                                                                style="position: absolute; clip: rect(3.046em, 1000.73em, 4.17em, -999.997em); top: -3.965em; left: 0em;"><span
                                                                    class="mi" id="MathJax-Span-16"
                                                                    style="font-family: MathJax_Math-italic;">A</span><span
                                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                                style="position: absolute; clip: rect(3.31em, 1000.47em, 4.17em, -999.997em); top: -4.296em; left: 0.731em;"><span
                                                                    class="mi" id="MathJax-Span-17"
                                                                    style="font-size: 70.7%; font-family: MathJax_Math-italic;">k</span><span
                                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                                style="position: absolute; clip: rect(3.442em, 1000.53em, 4.17em, -999.997em); top: -3.833em; left: 0.731em;"><span
                                                                    class="mi" id="MathJax-Span-18"
                                                                    style="font-size: 70.7%; font-family: MathJax_Math-italic;">n</span><span
                                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span></span></span><span
                                                        class="mfrac" id="MathJax-Span-20"
                                                        style="padding-left: 0.268em;">
                                                        <span
                                                            style="display: inline-block; position: relative; width: 3.509em; height: 0px; margin-right: 0.136em; margin-left: 0.136em;"><span
                                                                style="position: absolute; clip: rect(3.046em, 1000.8em, 4.17em, -999.997em); top: -4.626em; left: 50%; margin-left: -0.46em;"><span
                                                                    class="mrow" id="MathJax-Span-21">
                                                                    <span class="mi" id="MathJax-Span-22"
                                                                        style="font-family: MathJax_Math-italic;">n</span>
                                                                    <span class="mo" id="MathJax-Span-23"
                                                                        style="font-family: MathJax_Main;">!</span></span><span
                                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                                style="position: absolute; clip: rect(3.046em, 1003.31em, 4.435em, -999.997em); top: -3.237em; left: 50%; margin-left: -1.65em;"><span
                                                                    class="mrow" id="MathJax-Span-24"><span class="mo"
                                                                        id="MathJax-Span-25"
                                                                        style="font-family: MathJax_Main;">(</span><span
                                                                        class="mi" id="MathJax-Span-26"
                                                                        style="font-family: MathJax_Math-italic;">n</span><span
                                                                        class="mo" id="MathJax-Span-27"
                                                                        style="font-family: MathJax_Main; padding-left: 0.202em;">−</span><span
                                                                        class="mi" id="MathJax-Span-28"
                                                                        style="font-family: MathJax_Math-italic; padding-left: 0.202em;">k</span><span
                                                                        class="mo" id="MathJax-Span-29"
                                                                        style="font-family: MathJax_Main;">)</span><span
                                                                        class="mo" id="MathJax-Span-30"
                                                                        style="font-family: MathJax_Main;">!</span></span><span
                                                                    style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                                                                style="position: absolute; clip: rect(0.797em, 1003.51em, 1.26em, -999.997em); top: -1.253em; left: 0em;"><span
                                                                    style="display: inline-block; overflow: hidden; vertical-align: 0em; border-top: 1.3px solid; width: 3.509em; height: 0px; --darkreader-inline-border-top: initial;"
                                                                    data-darkreader-inline-border-top=""></span><span
                                                                    style="display: inline-block; width: 0px; height: 1.062em;"></span></span></span></span>
                                                </span><span
                                                    style="display: inline-block; width: 0px; height: 2.252em;"></span></span></span><span
                                            style="display: inline-block; overflow: hidden; vertical-align: -1.329em; border-left: 0px solid; width: 0px; height: 3.171em; --darkreader-inline-border-left: initial;"
                                            data-darkreader-inline-border-left=""></span></span></nobr><span
                                    class="MJX_Assistive_MathML MJX_Assistive_MathML_Block" role="presentation"><math
                                        xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                                    </math></span>
                            </div>
                        </li>
                    </ul>
                    <a href="#permutationsNo" class="btn btn-lg btn-block btn-primary">Вычислить</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-4">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Перестановки с повторениями</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <a href="#placement" class="btn btn-lg btn-block btn-primary">Вычислить</a>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Совмещения с повторениями</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>20 users included</li>
                        <li>10 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <a href="#combination" class="btn btn-lg btn-block btn-primary">Вычислить</a>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Размещения с повторениями</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>30 users included</li>
                        <li>15 GB of storage</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <a href="#permutations" class="btn btn-lg btn-block btn-primary">Вычислить</a>
                </div>
            </div>
        </div>
    </div>

    <script src="js/libs.min.js"></script>
    <script src="./render.js"></script>

    <script src="js/Logic/factorial.js"></script>
    <script src="js/Logic/combinationNo.js"></script>
    <script src="js/Logic/permutationsNo.js"></script>

    <script src="node_modules\vue\dist\vue.min.js"></script>

    <script src="js/Visual/placementNo_Vue.js"></script>
    <script src="js/Visual/combinationNo_Vue.js"></script>
    <script src="js/Visual/permutationsNo_Vue.js"></script>
</body>

</html>